*, ::before, ::after{
  text-decoration: none;
  list-style: none;
  outline: none!important;
  box-sizing: border-box;
  margin: 0;
  padding: 0!important;
}

body{
  background-color: rgba(217, 217, 217, .8)!important;
  font-size: 1rem;
}

.menu div i{
  font-size: 1.6rem;
}

.accueil{
  background-image: url('assets/images/poisson.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.accueil .search{
  border-radius: 50px;
}

.search input{
  width: 90%;
}

.search label{
  width: 10%;
  cursor: pointer;
}